/*Imports*/

@import url("https://viannaxp.github.io/MamiCord/src/main.css");
@import url("https://viannaxp.github.io/MamiCord/src/fixes.css");

/*Version System*/
:root {
  --theme-version: "v0.1 ";
}

[id^="SpotiCord"] .bd-addon-header .bd-version:before {
  content: "v"var(--theme-version);
}

.info-3pQQBb:after {
  content: "MamiCord - "var(--theme-version);
  top: 16px;
  color: var(--text-muted);
  position: relative;
}

[id^="SpotiCord"] .bd-addon-header .bd-version {
  font-size: 0;
}

[id^="SpotiCord"] .bd-addon-header .bd-version:before {
  font-size: 14px;
}

.bd-switch input:checked+.bd-switch-body {
  --switch-color: var(--background-accent);
}

.wordmarkWindows-2dq6rw:after {
  content: "MamiCord by viannaxp";
  color: var(--text-muted);
  font-size: 12px;
  padding-left: 10px;
  position: relative;
  bottom: 4px;
}
