@import url("https://viannaxp.github.io/MamiCord/src/Home/index.css");
@import url("https://viannaxp.github.io/MamiCord/src/Plugins/index.css");
@import url("https://viannaxp.github.io/MamiCord/src/Popouts/index.css");
@import url("https://viannaxp.github.io/MamiCord/src/Serverlist/index.css");
@import url("https://viannaxp.github.io/MamiCord/src/UI/index.css");
